<html>
<head><title>Friend Profile</title></head>
<body>

    <table>
        <tr>
            <th bgcolor='808080'>Picture </th>
            <th bgcolor='808080'>First Name</th>
            <th bgcolor='808080'>Middle Name</th>
            <th bgcolor='808080'>Last Name </th>
            <th bgcolor='808080'>Religion </th>
            <th bgcolor='808080'>Birthdate </th>
            <th bgcolor='808080'>Sex </th>
            <th bgcolor='808080'>Hometown </th>
            <th bgcolor='808080'>Current Location </th>
            <th bgcolor='808080'>Relationship Status </th>
            <th bgcolor='808080'>Significant Other ID </th>
            <th bgcolor='808080'>Political Views </th>
            <th bgcolor='808080'>Profile URL </th>
            <th bgcolor='808080'>Website </th>
           
        </tr>    
    {% for first_name, middle_name, last_name, pic, religion, birthday_date, sex, hometown_location, current_location, relationship_status, significant_other_id, political, profile_url, website in friend_attributes %}
        <tr>
            <td align='center' BGCOLOR="C0C0C0"> <img src="{{pic}}"> </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ first_name }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ middle_name }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ last_name }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ religion }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ birthday_date }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ sex }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ hometown_location }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ current_location }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ relationship_status }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ signficant_other_id }} </td>
            <td align='center' BGCOLOR="C0C0C0"> {{ political }} </td>
            <td align='center' BGCOLOR="C0C0C0"> <a href="{{ profile_url }}">Profile</a> </td>
            <td align='center' BGCOLOR="C0C0C0"> <a href="{{ website }}">Website</a> </td>
        </tr>
    {% endfor %}
    </table>

    <div class='matplotlib'>
        <img src="{{plotPng}}">
    </div>

    <div> Number of Mutual Friends: {{ friendscommon }} </div>


    {% for uid,name in uidNameList %}
        <ul>
            <li><a href="/profile/{{ uid }}">{{ name }}</a></li>
        </ul>
    {% endfor %}

</body>
</html>