<html>
<head><title>Friend Profile</title></head>
<body>

    <table>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name </th>
            <th>Picture </th>
            <th>Religion </th>
            <th>Birthdate </th>
            <th>Sex </th>
            <th>Hometown </th>
            <th>Current Location </th>
            <th>Relationship Status </th>
            <th>Significant Other ID </th>
            <th>Political Views </th>
            <th>Profile URL </th>
            <th>Website </th>
           
        </tr>    
    {% for first_name, middle_name, last_name, pic, religion, birthday_date, sex, hometown_location, current_location, relationship_status, significant_other_id, political, profile_url, website in friend_attributes %}
        <tr>
            <td> {{ first_name }} </td>
            <td> {{ middle_name }} </td>
            <td> {{ last_name }} </td>
            <td> <img src="{{pic}}"> </td>
            <td> {{ religion }} </td>
            <td> {{ birthday_date }} </td>
            <td> {{ sex }} </td>
            <td> {{ hometown_location }} </td>
            <td> {{ current_location }} </td>
            <td> {{ relationship_status }} </td>
            <td> {{ signficant_other_id }} </td>
            <td> {{ political }} </td>
            <td> <a href="{{ profile_url }}">Profile</a> </td>
            <td> <a href="{{ website }}">Website</a> </td>
        </tr>
    {% endfor %}
    </table>

    <div class='matplotlib'>
        <img src="{{plotPng}}">
    </div>
    
    {% for uid,name in uidNameList %}
        <ul>
            <li><a href="/profile/{{ uid }}">{{ name }}</a></li>
        </ul>
    {% endfor %}

</body>
</html>