<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Upload Friend Data</title>
</head>
<body>

    <h2>Welcome! Ready to upload your Facebook friend data?</h2>
    <form method="post" enctype='multipart/form-data' action="" >
        <label>
            Upload your file called "attributes.json":
            <input type="file" name="attributes" />
        </label>

        <label>
            Upload your file called "edges.json":
            <input type="file" name="edges" />
        </label>

        <input method='get' type="submit" value="Upload Files" name="submit"/>
    </form>
    <form action='/createtables'>
        <input type='submit' value="Create Tables" />
    </form>

</body>
</html>